{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/wedit/matmodPicker/header.png",
      "fileBody": "/interface/wedit/matmodPicker/body.png",
      "fileFooter": "/interface/wedit/matmodPicker/footer.png"
    },
    "close": {
      "type": "button",
      "base": "/interface/wedit/matmodPicker/x.png",
      "hover": "/interface/wedit/matmodPicker/xred.png",
      "press": "/interface/wedit/matmodPicker/xred.png",
      "pressedOffset": [
        0,
        -1
      ],
      "position": [
        158,
        105
      ]
    },
    "categoryScroll": {
      "type": "scrollArea",
      "rect": [
        0,
        17,
        27,
        102
      ],
      "buttons": {
        "horizontal": {
          "forward": {
            "base": "",
            "hover": "",
            "pressed": ""
          },
          "backward": {
            "base": "",
            "hover": "",
            "pressed": ""
          }
        },
        "vertical": {
          "forward": {
            "base": "",
            "hover": "",
            "pressed": ""
          },
          "backward": {
            "base": "",
            "hover": "",
            "pressed": ""
          }
        }
      },
      "thumbs": {
        "horizontal": {
          "base": {
            "begin": "",
            "end": "",
            "inner": ""
          },
          "hover": {
            "begin": "",
            "end": "",
            "inner": ""
          },
          "pressed": {
            "begin": "",
            "end": "",
            "inner": ""
          }
        },
        "vertical": {
          "base": {
            "begin": "",
            "end": "",
            "inner": ""
          },
          "hover": {
            "begin": "",
            "end": "",
            "inner": ""
          },
          "pressed": {
            "begin": "",
            "end": "",
            "inner": ""
          }
        }
      },
      "children": {
        "categoryList": {
          "type": "list",
          "callback": "pickCategory",
          "columns": 1,
          "fillDown": true,
          "scissoring": true,
          "schema": {
            "selectedBG": "/interface/wedit/matmodPicker/mods/frameSelected2.png",
            "spacing": [
              1,
              1
            ],
            "memberSize": [
              18,
              20
            ],
            "listTemplate": {
              "background": {
                "type": "image",
                "position": [
                  0,
                  0
                ],
                "zlevel": 1
              },
              "backgroundFrame": {
                "type": "image",
                "file": "/interface/wedit/matmodPicker/mods/categoryFrameBackground.png",
                "position": [
                  0,
                  0
                ],
                "zlevel": -1
              },
              "categoryIcon": {
                "type": "image",
                "file": "/assetmissing.png",
                "position": [
                  2,
                  2
                ],
                "zlevel": 2
              },
              "emptyFrameForeground": {
                "type": "image",
                "file": "/interface/wedit/matmodPicker/mods/categoryFrameForegound.png",
                "position": [
                  0,
                  0
                ],
                "zlevel": 3
              }
            }
          }
        }
      }
    },
    "modScroll": {
      "type": "scrollArea",
      "rect": [
        22,
        15,
        163,
        101
      ],
      "children": {
        "modList": {
          "type": "list",
          "callback": "pickMod",
          "position": [
            3,
            3
          ],
          "columns": 6,
          "fillDown": true,
          "scissoring": true,
          "schema": {
            "selectedBG": "/interface/wedit/matmodPicker/mods/frameSelected.png",
            "spacing": [
              2,
              2
            ],
            "memberSize": [
              20,
              20
            ],
            "listTemplate": {
              "background": {
                "type": "image",
                "position": [
                  0,
                  0
                ],
                "zlevel": 1
              },
              "backgroundFrame": {
                "type": "image",
                "file": "/interface/wedit/matmodPicker/mods/emptyFrameBackground.png",
                "position": [
                  0,
                  0
                ],
                "zlevel": -1
              },
              "itemIcon": {
                "type": "image",
                "file": "/assetmissing.png",
                "position": [
                  2,
                  2
                ],
                "zlevel": 2
              },
              "emptyFrameForeground": {
                "type": "image",
                "file": "/interface/wedit/matmodPicker/mods/emptyFrame.png",
                "position": [
                  0,
                  0
                ],
                "zlevel": 3
              }
            }
          }
        }
      }
    },
    "txbSearchBar" : {
      "type" : "textbox",
      "hint" : "Search . . .",
      "textAlign" : "left",
      "position" : [
        22,
        3
      ],
      "callback" : "search"
    }
  },
  "scriptWidgetCallbacks": [
    "pickMod",
    "pickCategory",
    "search"
  ],
  "scripts": [
    "/interface/wedit/matmodPicker/matmodPicker.lua"
  ],
  "scriptDelta": 1
}