{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/wedit/materialPicker/header.png",
      "fileBody": "/interface/wedit/materialPicker/body.png",
      "fileFooter": "/interface/wedit/materialPicker/footer.png"
    },
    "close": {
      "type": "button",
      "base": "/interface/wedit/materialPicker/x.png",
      "hover": "/interface/wedit/materialPicker/xred.png",
      "press": "/interface/wedit/materialPicker/xred.png",
      "pressedOffset": [
        0,
        -1
      ],
      "position": [
        246,
        93
      ]
    },
    "categoryScroll": {
      "type": "scrollArea",
      "rect": [
        0,
        4,
        27,
        89
      ],
      "buttons": {
        "horizontal": {
          "forward": {
            "base": "",
            "hover": "",
            "pressed": ""
          },
          "backward": {
            "base": "",
            "hover": "",
            "pressed": ""
          }
        },
        "vertical": {
          "forward": {
            "base": "",
            "hover": "",
            "pressed": ""
          },
          "backward": {
            "base": "",
            "hover": "",
            "pressed": ""
          }
        }
      },
      "thumbs": {
        "horizontal": {
          "base": {
            "begin": "",
            "end": "",
            "inner": ""
          },
          "hover": {
            "begin": "",
            "end": "",
            "inner": ""
          },
          "pressed": {
            "begin": "",
            "end": "",
            "inner": ""
          }
        },
        "vertical": {
          "base": {
            "begin": "",
            "end": "",
            "inner": ""
          },
          "hover": {
            "begin": "",
            "end": "",
            "inner": ""
          },
          "pressed": {
            "begin": "",
            "end": "",
            "inner": ""
          }
        }
      },
      "children": {
        "categoryList": {
          "type": "list",
          "callback": "pickCategory",
          "columns": 1,
          "fillDown": true,
          "scissoring": true,
          "schema": {
            "selectedBG" : "/interface/wedit/materialPicker/materials/frameSelected2.png",
            "spacing": [
              1,
              1
            ],
            "memberSize": [
              18,
              20
            ],
            "listTemplate": {
              "background": {
                "type": "image",
                "position": [
                  0,
                  0
                ],
                "zlevel": -1
              },
              "backgroundFrame": {
                "type": "image",
                "file": "/interface/wedit/materialPicker/materials/categoryFrameBackground.png",
                "position": [
                  0,
                  0
                ],
                "zlevel": -1
              },
              "categoryIcon": {
                "type": "image",
                "file": "/assetmissing.png",
                "position": [
                  2,
                  2
                ],
                "zlevel": 1
              },
              "emptyFrameForeground": {
                "type": "image",
                "file": "/interface/wedit/materialPicker/materials/categoryFrameForegound.png",
                "position": [
                  0,
                  0
                ],
                "zlevel": 3
              }
            }
          }
        }
      }
    },
    "materialScroll": {
      "type": "scrollArea",
      "rect": [
        22,
        3,
        251,
        90
      ],
      "children": {
        "materialList": {
          "type": "list",
          "callback": "pickMaterial",
          "position": [
            3,
            3
          ],
          "columns": 10,
          "fillDown": true,
          "scissoring": true,
          "schema": {
            "selectedBG" : "/interface/wedit/materialPicker/materials/frameSelected.png",
            "spacing": [
              2,
              2
            ],
            "memberSize": [
              20,
              20
            ],
            "listTemplate": {
              "background": {
                "type": "image",
                "position": [
                  0,
                  0
                ],
                "zlevel": 1
              },
              "backgroundFrame": {
                "type": "image",
                "file": "/interface/wedit/materialPicker/materials/emptyFrameBackground.png",
                "position": [
                  0,
                  0
                ],
                "zlevel": 1
              },
              "materialIcon": {
                "type": "image",
                "file": "/assetmissing.png",
                "position": [
                  2,
                  2
                ],
                "zlevel": 1
              },
              "emptyFrameForeground": {
                "type": "image",
                "file": "/interface/wedit/materialPicker/materials/emptyFrame.png",
                "position": [
                  0,
                  0
                ],
                "zlevel": 3
              }
            }
          }
        }
      }
    }
  },
  "scriptWidgetCallbacks": [
    "pickMaterial", "pickCategory"
  ],
  "scripts": [
    "/interface/wedit/materialPicker/materialPicker.lua"
  ],
  "scriptDelta": 1
}